.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  z-index: 1;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #ffffff;
  padding: 36px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  max-width: 430px;
  width: 100%;
}

.modal__close-button {
  background: transparent url("../images/close-button.svg") no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  bottom: calc(100% + 1px);
  left: calc(100% + 1px);
  outline: none;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  padding-bottom: 54px;
  max-width: 330px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 48px;
  max-width: 358px;
}

.modal__input {
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 358px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  padding: 0;
}

.modal__button {
  width: 100%;
  height: 50.15px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding: 0;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .modal__container {
    padding: 25px 22px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    max-width: 282px;
    width: 100%;
  }

  .modal__close-button {
    top: -34px;
    left: 258px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    padding-bottom: 75px;
  }

  .modal__form {
    padding-bottom: 45px;
    max-width: 238px;
  }

  .modal__button {
    max-width: 238px;
  }
}
